@import url('https://fonts.googleapis.com/css?family=Cute+Font');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.navbar-brand {
    font-family: 'Cute Font', cursive;
    font-size: 46px;
    font-weight: 700;
    color: #112380!important;
    padding: 0;
}

.navbar-brand span {
    transform: scale(-1, 1);
}

.nav-link {
    color: #000!important;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
}

.nav-link:hover {
    color: #112380!important;
}

.bg-light {
    background-color: #d8d6e6!important;
}